# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.idea/
data/models/
src/audit_service/data/models/
src/audit_service/data/cache/
src/audit_service/data/uploads/
tests/
*.yaml
.gitignore
dist/
init_data/
env/
